@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Yekan';
  src: url('./font/Yekan.ttf');
}

@font-face {
  font-family: 'Nazanin';
  src: url('./font/B-NAZANIN.TTF');
}

@font-face {
  font-family: 'Vazir';
  src: url('./font/Vazir.ttf');
}

@font-face {
  font-family: 'Dana';
  src: url('./font/Dana-medium.woff');
}

body {
  margin: 0;
  font-family: 'Dana','Vazir',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

*{
  font-family: 'Dana','Vazir';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
